:root {
    --regular: Amazon Ember, Arial, sans-serif;
    --background-header-1: #131921;
    --down-arrow-grey: rgb(167, 172, 178);
    --amazon-orange: rgb(240, 136, 4);
    --heading-black: rgb(15, 17, 17);
    --amazon-blue: rgb(33, 98, 161);
    --light-font-grey: rgb(86, 89, 89);
    --amazon-yellow: #ffd814;
}


.mobile-main {
    margin-left: 4px;
    margin-right: 4px;
    /* margin-bottom: 8px; */

}

.each-card-mobile {
    margin: 0;
    border: none;
    padding: 0;




}

.mobile-main .card-container {
    /* border: 1px solid #f5f5f5; */
    /* padding-left: 4px; */
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    margin-bottom: 8px;
}

.mobile-main .card-container .each-card-mobile {
    display: flex;
    /* padding-left: 4px;
    padding-right: 4px; */


}

.mobile-main .card-container .each-card-mobile .contents {

    display: block;
    width: calc(.58333 * (100vw - 8px));

}

.mobile-main .card-container .each-card-mobile .img-container {
    width: calc(.41667 * (100vw - 8px));


    display: flex;
    flex-direction: column;
    padding: 0 4px;
    height: 100%;
    align-self: flex-start;
    position: relative;

}

.mobile-main .card-container .each-card-mobile .img-container::after {
    margin-left: -4px;
    margin-right: -4px;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.03);
    position: absolute;
    inset: 0;
}


.mobile-main .card-container .each-card-mobile .img-container .best-seller {
    background-color: #D14900 !important;
    height: 20px;
    margin: 4px 4px 4px 4px !important;
    /* display: inline-block; */
    /* display: inline; */
    width: 68.48px;
    border-radius: 4px;
    display: flex;
    justify-content: center;

}

.mobile-main .card-container .each-card-mobile .img-container .best-seller span {
    color: #FFF !important;
    font-size: 13px;
    line-height: 18px;
    white-space: nowrap;
    align-content: center;
    display: inline;

}

.mobile-main .card-container .each-card-mobile .img-container .img-wrapper {
    /* flex-grow: 1; */
    /* overflow: hidden; */
    /* padding-right: 8px;
    padding-left: 8px;
    display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center;
    position: relative; */
    /* height: 100%; */

    flex-grow: 1;

    padding-right: 8px;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.plus-icon{
    height: 48px;
    width: 48px;
    z-index: 3999;
    /* background-color: red; */
    display: inline-block;
    position: relative;
    top: -48px;
    left: 4px;
}
.plus-icon .plus-icon-container{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    /* background-color: blue; */
    box-shadow: 0 0 4px 0 rgba(17, 17, 17, .3);
    position: absolute;
    top: 9px;
    left: 8px;
}


.plus-icon .plus-icon-container img{
    position: absolute;
    top: 4px;
    right: 4px;
}

.mobile-main .card-container .each-card-mobile .img-container .img {
    /* max-height: 170px;
    width: 100%; */
    max-height: 170px;
    /* width: 100%; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.mobile-main .card-container .each-card-mobile .img-container .img img {
    display: block;
    /* max-width: 100%; */
    /* height: auto;
    margin: 0 auto; */
    /* max-width: 100%;
    border: 0;
    object-fit: contain;
    vertical-align: top; */

    /* from here ownwards */
    height: 100%;
    width: 100%;

    /* object-fit: fill; */
}

















.mobile-main .card-container .each-card-mobile .contents {
    padding: 0 10px 0 4px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.mobile-main .card-container .each-card-mobile .contents .contents-heading span {
    font-size: 14px !important;
    line-height: 20px !important;
    -webkit-line-clamp: 3;
    color: rgb(15, 17, 17);



}

.mobile-main .card-container .each-card-mobile .contents-wrapper .rating-first-line span:nth-child(1) {
    /* background-color: chartreuse; */
    font-size: 12px;
    line-height: 16px !important;
    display: inline-block;
    height: 15px;

    transform: translateY(-1px);
}

.mobile-main .card-container .each-card-mobile .contents-wrapper .rating-first-line .five-star {
    height: 12px;
    width: 60px;
    background-image: url(https://m.media-amazon.com/images/S/sash/Zf4KcHNXMx7zzfI.png);
    margin-left: 2px;
    background-position: -379px -497px;
    top: -2.7px;
    background-size: 512px 512px;
}

.mobile-main .card-container .each-card-mobile .contents-wrapper .rating {
    line-height: 16px;
    max-height: 36px;
    /* align-items: center; */
}

.mobile-main .card-container .each-card-mobile .contents-wrapper .rating-first-line span:nth-child(3) {
    font-size: 12px;
    line-height: 16px;
    color: rgb(86, 89, 89);
    height: 15px;
    margin-left: 3px;
    transform: translateY(-1px);



}

.mobile-main .card-container .each-card-mobile .contents-wrapper .rating-first-line {
    height: 16px;
}

.mobile-main .card-container .each-card-mobile .rating .brought {
    font-size: 12px !important;
    line-height: 16px !important;
    /* height: 16px; */
    /* white-space: nowrap; */
    display: inline-block;

    transform: translateY(-2px);
}


.mobile-html .content-price>span:nth-child(1) {
    font-size: 13px;
    position: relative;
    top: -5px;
    /* left: 0; */
}

.mobile-html .content-price>span:nth-child(2) {
    font-size: 22px;
    position: relative;
    left: -4.25px;
}

.mobile-html .content-price>span:nth-child(3) {
    font-size: 12px;
    line-height: 16px;
    /* letter-spacing: -0.2px; */
    display: inline-block;
    color: rgb(86, 89, 89);
    font-family: 'mobile-special';
    /* position: relative;
    left: -4.75px; */
    margin-left: -4px;
 
}

.mobile-html .content-price>span:nth-child(4) {
    font-size: 12px;
    line-height: 16px;
    color: var(--light-font-grey);
    font-family: 'mobile-special';

    text-decoration: line-through;
    /* position: relative;
    left: -8.25px; */
}

.mobile-html .content-price>span:nth-child(5) {
    font-size: 12px;
    line-height: 16px;
    /* color: var(--light-font-grey); */
    font-family: 'mobile-special';

    /* position: relative; */
    /* left: 1px; */
    /* left: -5px; */

}

.mobile-html .content-price {
    margin-top: 0;
    max-height: unset;
    min-height: 42px;
    padding-top: 4px;
}

/* resetting */
.mobile-html .prime-icon {
    margin-top: 0px;
}

.mobile-html .prime-icon .prime-icon-image {
    margin-top: 0px;
    margin-bottom: 0px;
}

.mobile-html .prime-icon .second-line {
    height: unset;
    /* margin-top: 2.453px; */

    column-gap: 3px;
}

.mobile-html .button-container button {
    margin-top: 0;
    line-height: unset;
}


/* reset end */

.savings {
    font-size: 12px !important;
    line-height: 16px !important;
     margin-bottom: 5px;
}

body > div.mobile-html > div.mob-header-below > div.mobile-main > div:nth-child(2) > div > div.contents > div > div.prime-icon{
    padding-top: 5px;
}
body > div.mobile-html > div.mob-header-below > div.mobile-main > div:nth-child(3) > div > div.contents > div > div.prime-icon{
    padding-top: 5px;
}
body > div.mobile-html > div.mob-header-below > div.mobile-main > div:nth-child(3) > div > div.contents > div > div.prime-icon > div.prime-icon-image {
   transform: translateY(1px); 
}

.saving-span-container span {
    height: auto;
    color: rgb(86, 89, 89);
    font-family: 'mobile-special';
    display: inline-block;
    width: 100%;
    white-space: normal;
    line-height: 1.3em !important;
}

.mobile-html .prime-icon {
    padding-top: 4px;
}

.mobile-html .prime-icon .prime-icon-image {
    margin-bottom: 4px;
}

.mobile-html .prime-icon .second-line {
    max-height: 16px;
    margin-bottom: 4px;
}

.mobile-html .prime-icon .second-line span:nth-child(1) {
    font-size: 12px;
    line-height: 16px;
}

.mobile-html .prime-icon div:nth-child(2){
    margin-top: 5px;
}

.mobile-html .prime-icon .second-line span:nth-child(2) {
    font-size: 12px;
    line-height: 16px;
}

.mobile-html .button-container {
    height: 44px;
    padding-top: 8px;
    display: flex;
    align-items: flex-end;
    margin-top: 4px;
}

.mobile-html .button-container button {
    font-size: 13px;
    height: 32px;
    padding: 5px 13px 7px 13px;
    display: block;
    width: 100%;
}


/* Typing : 33wpm */

/* cellular-phones */

.cellular-mobile{
    margin-bottom: 1px;
}
.cellular-mobile div{

}

.cellular-mobile div span{
    margin-top: 4px;
    letter-spacing: 0.1px;
    font-size: 10px !important;
    line-height: 16px !important;
    padding-right: 4px !important;
    padding-left: 4px !important;
    padding-top: 1px !important;
    padding-bottom: 2px !important;
    background-color: #f0f2f2;
    border: 1px solid #f5f5f5;
    
    /* font-family: 'bold'; */
}



