/* .mobile-main{
    

    margin-left: 4px;
    margin-right: 4px;

}

.mobile-main .card-container{
    
}

.mobile-main .card-container .each-card{
    display: flex;
    
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
   
   
} */
/* 
.mobile-main .each-card .contents{
    display: block; */
    /* width: calc(.58333 * (100vw - 8px)); */
/* }

.mobile-main .each-card .img-container{
    display: flex;
    flex-direction: column; */
    /* justify-content: space-between; */
    /* padding: 0 4px; */
    /* height: 100%;
}

.mobile-main .each-card .img-container .best-seller{
    background: #f8f8f8;
    margin-left: 4px;

    margin-top: 4px;
    display: inline-block;
}

.mobile-main .each-card .img-container .best-seller span{
        padding: 1px 4px 1px 4px !important;
    height: 20px;
    align-content: center;
    border-radius: 4px 4px 4px 4px !important;
    display: inline-block; */
    /* max-width: 160px !important; */
    /* background-color: #D14900 !important; */
    /* display: ; */ 
    /* vertical-align: middle;
    display: flex;
    

}

.mobile-main .each-card .img-container .best-seller span{
    color: #FFF !important;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    white-space: nowrap; */

    /* transform: translateY(812px); */
/* } */
