footer {
    color: white;
    background-color: #232F3E;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 50px;
    background-color: #37475A;
}

.footer-top span {
    font-size: 13px;
    line-height: 19px;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer .mid1-wrapper {
    margin-right: 60px;
    margin-left: 60px;
    background-color: #232F3E;


}

footer .mid1 {

    display: table-row;

}

footer .mid1 .nav-access {
    display: table-cell;
    padding: 0 10px;
    width: 10%;
}

footer .mid1 .nav-link {
    display: table-cell;
    width: auto;
    padding: 0 10px;
    line-height: 120%;
    color: #333;
    vertical-align: top;


}

footer .mid1 .foot-col-head span {
    display: inline-block;
    font-size: 16px;
    color: white;
    line-height: 16.797px;
    font-family: 'bold';
}

footer .mid1 .foot-col-head {

    margin: 6px 0 14px 0;
    line-height: 16.797px;
    /* color: yellow; */
}



footer .mid1 .nav-link ul li {

    /* display: inline-block  ; */
    /* display: flex;
    align-items: center; */
    line-height: 15.8px !important;
    /* height: 16.8px; */
    margin-bottom: 10px;
}



footer .mid1 .nav-link ul li a {
    display: inline;
    font-size: 14px;
   
    color: #dddddd;
}
footer .mid1-wrapper .bottom-line-footer{
    border-top: 1px solid #3a4553;
    margin-top: 40px;
}


/* body > footer > div.mid1-wrapper > div > div.make-money-with-us.nav-access.nav-link > ul > li:nth-child(2){
    height: ;
} */ 
       
footer .mid2{
    height: 68px;
    margin: 10px 60px;

    display: flex;
    justify-content: center;
}

footer .mid2 .amazon-footer{
        padding: 0 .6em;
            list-style-type: none;
    display: inline-block;
}

footer .mid2 .amazon-footer div{
    text-align: center;
    max-width: 1000px;
    margin: 30px auto 11px;
    line-height: 0;
} 

footer .mid2 .amazon-footer div div{
    
    width: 76px;
    height: 27px;
    margin: 0 auto;
    background-image: url(/assets/images/all-logo.png);
    background-position: -10px -90px;
    background-repeat: repeat-x;
}

footer  .logo-footer-container{
    vertical-align: top;
    margin: 18px 0;
    margin-left: 70px;
    padding: 0 .6em;
    list-style-type: none;
    display: inline-block;
}

.navfooter{
        /* font-family: inherit;
    color: #004B91;
        display: inline-block !important;
    border: 1px solid #848688;
    border-radius: 3px;
    padding: 6px 18px 6px 8px;
    font-size: 13px;
    margin-right: 4px; */
    font-size: 12px;
    font-family: inherit;
    color: #DDD;
    
    text-align: center;
    line-height: 18px;
}

.language-footer{
    font-family: inherit;
    color: #DDD;
    text-align: center;
    line-height: 18px;
    display: inline-block !important;
    border: 1px solid #848688;
    border-radius: 3px;
    padding: 6px 18px 6px 8px;
    font-size: 13px;
    margin-right: 4px;
    text-align: center;
    line-height: 18px;
}

.globe-footer{
    background-image: url(/assets/images/all-flags.png);
    background-size: 194px 295px;
    width: 15px;
    height: 15px;
    background-position: -76px -51px;
    position: relative;
    top: 2px;
    left: 0;
    display: inline-block;
    margin-left: 0.3em;
        color: #004B91;
    /* padding-left: 0.6em; */
}       
.english-footer{
    color: #CCC;
    list-style-type: none;
    display: inline-block;
    padding: 0 0.6em 0 0.6em;
    margin: 0;
    margin-right: 0.6em;
}

.language-footer button{
    background-image: url(/assets/images/all-flags.png);
    background-size: 194px 295px;
            width: 12px;
    height: 16px;
    background-position: -79px -79px;
    position: relative;

    left: 9px;
    border: none;
    margin: 0;
    font-size: 100%;
    vertical-align: middle;

    background-color: #232F3E;
}


.country-footer{
    display: inline-block !important;
    border: 1px solid #848688;
    border-radius: 3px;
    padding: 6px 18px 6px 8px;
    font-size: 13px;
    margin-right: 4px;
}
.country-footer .flag-footer{
    background-image: url(/assets/images/all-flags.png);
    background-size: 194px 295px;
    background-position: -18px -36px;
    margin: 3px 0 0;
    top: 1px;
    padding: 0 .6em;
    display: inline-block;
    width: 18px;
    position: relative;
    /* top: 2px; */
    height: 12px;
    color: #004B91;

}

.flag-name-footer{
    color: #CCC;
    padding: 0 0.6em 0 0.3em;
    list-style-type: none;
    display: inline-block;
    margin: 0;
}








.footer-bottom{
    background-color: #131A22;
    padding: 30px 0px;
    margin: 30px 0 0;
}

.footer-bottom .ul-bottom-condainer{
    margin: 0 auto;
        max-width: 1000px;
    font-size: 12px;
}

.footer-bottom .ul-bottom-condainer ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 0 0 0 18px;
    margin-bottom: 15px;
    margin-left: 0;
    
}

.footer-bottom .ul-bottom-condainer ul .last-footer-text{
    width: 15%;
    font-size: 12px !important;
    padding: 0 .75em;
    vertical-align: top;
    text-align: left;
    line-height: 115%;
    display: inline;
    word-wrap: break-word;
    margin: 0;
}

.footer-bottom .ul-bottom-condainer ul .last-footer-text a{
    color: #ddd;
}

.footer-bottom .ul-bottom-condainer ul .last-footer-text a h5{
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    padding: 0;
    margin: 0;
    color: #DDD;
}

.footer-bottom .ul-bottom-condainer ul .last-footer-text a span{
    color: #999;
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 110%;
}

.footer-bottom .ul-bottom-condainer ul .last-footer-space{
    width: 4%;
    display: inline;
    padding: 0;
        word-wrap: break-word;
    margin: 0;
}

.footer-bottom .ul-bottom-condainer ul:nth-child(2){
    margin-bottom: 0px;  
}

.footer-bottom .ul-bottom-condainer ul:nth-child(2)  .last-footer-text h5{
    position: relative;
    top: 1px;
}

footer .copy-right-footer{
    font-size: 12px;
    background-color: #131A22;
    max-width: 100%;
    margin: 0;
    padding: 10px 0 30px;
    text-align: center;
    color: #DDD;
    height: 76px;
}
footer .copy-right-footer ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0 0 0 18px;
    line-height: 18px;
}

footer .copy-right-footer ul li{
    border-left: 0;
    display: inline;    
    word-wrap: break-word;
    margin: 0;
    font-size: 12px;
    color: #DDD;
}

footer .copy-right-footer ul li a{
    color: #DDD;
    padding: 0 .6em;
    text-align: -webkit-match-parent;
}

footer .copy-right-footer span{
    font-family: inherit;
    white-space: normal;    
    padding: 0 .6em;
    font-size: 12px;
}

