/* header  --  25 */

:root {
    --regular: Amazon Ember, Arial, sans-serif;
    --background-header-1: #131921;
    --down-arrow-grey: rgb(167, 172, 178);
    --amazon-orange: rgb(240, 136, 4);
    --heading-black: rgb(15, 17, 17);
    --amazon-blue: rgb(33, 98, 161);
}


* {
    box-sizing: border-box;
}

body,
p,
ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
svg {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

    font-family: 'regular';
}

input,
select,
option {
    font-family: 'regular'
}

/* header */













@font-face {
    font-family: 'regular';
    src: url(/assets/font/AmazonUIFont-amazonember_rg-cc7ebaa05a2cd3b02c0929ac0475a44ab30b7efa._V2_\ \(1\).woff2);
}

@font-face {
    font-family: 'button-font';
    src: url(/assets/font/pDxWAF1pBB0dzGB\ \(2\).woff2);
}

@font-face {
    font-family: 'bold';
    src: url(/assets/font/AmazonEmber_Bd.ttf);
}

@font-face {
    font-family: 'italic';
    src: url(/assets/font/WOnTLzkiaEccV7F\ \(1\).woff2);
}